#c {
    pointer-events: none;
    z-index: 0;
    width:100vw;
    height:100vh;
}
#container {
    position: relative;
  }
  #container c, #overlay {
    position: absolute;
  }
.elementToFadeIn{
    -webkit-animation: fadeinout .5s linear forwards;
    animation: fadeinout .5s linear forwards;
}
.elementToFadeOut{
    -webkit-animation: fadeinout .5s linear forwards;
    animation: fadeinout .5s linear forwards;
}
@-webkit-keyframes fadeout {
  100% { opacity: 0; }
}
@keyframes fadeout {
  100% { opacity: 0; }
}
@-webkit-keyframes fadeIn {
    100% { opacity: 1; }
  }
  @keyframes fadeIn {
    100% { opacity: 1; }
  }
.cell {
  display: table-cell;
    vertical-align: middle;
}

.myButton {
    z-index: 1000;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:8px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.myButton:active {
	position:relative;
	top:1px;
}


#startButton{
    margin: 0;
    position: relative;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#dialogueBox{
    position: relative;
     z-index: 99;
     padding: 1%;
     left: 20%;
     top: 80%;
     display: block;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
    width: 60%;
    height: 10%;
     border: 3px solid green;

}

#dialogueBox-text{
    font-size: larger;

}
.no-pointer-events{
    pointer-events: none;
}
.user-no-touch{
    pointer-events: none;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
html, body {
  opacity: 1;
  transition: 1s opacity;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
    background-color: black;
}
